*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.9108018207282913) 0%, rgba(252,70,107,0.9640231092436975) 100%);
}

main{
    display: flex;
    justify-content: center;
}

form{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    padding: 2.4rem;

    font-size: 3rem;
    color: rgba(38, 56, 143, 0.911);
    
}

#mensagem{
    margin-bottom: 1rem;
}

.input{
    height: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 4px solid black;
    border: 2px solid rgba(252,70,107,0.9640231092436975);
}

.input::placeholder{
    padding-left: 8px;
}

.input:hover{
    transform: translateY(-5px);
    border: 2px solid rgba(63,94,251,0.9108018207282913);
    transition: all 0.4s;
}

button{
    height: 2.4rem;
    margin-bottom: 10px;
    background-color: rgba(63,94,251,0.9108018207282913);
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(252,70,107,0.9640231092436975);
    transform: translateY(-4px);
    transition: all 0.4s;

}

#select{
    margin-top: 1rem;
    margin-bottom: 5px;
}

aside{
    color: rgba(20, 29, 75, 0.911);
    font-size: 1.2rem;
    font-weight: bold;
}

a{
    color: rgba(252,70,107,0.9640231092436975);
}

.termos{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: rgba(155, 0, 31, 0.964);
}

label{
    padding-right: 5px;
}